# {{ ansible_managed }}

[Desktop Entry]
Categories=Programming;Security;
Exec=/usr/share/owasp-zap/zap.sh
Icon=/usr/share/owasp-zap/zap.ico
Name=OWASP ZAP
Terminal=false
Type=Application
Version=1.0
