# {{ ansible_managed }}

[org/gnome/shell/app-switcher]
current-workspace-only=false

[org/gnome/shell/window-switcher]
current-workspace-only=false

[org/gnome/desktop/wm/keybindings]
switch-applications-backward=['<Shift><Super>Tab']
switch-applications=['<Super>Tab']
switch-windows-backward=['<Shift><Alt>Tab']
switch-windows=['<Alt>Tab']
