---

- hosts: all
  remote_user: root
  tasks:
    - name: apt-add-repository
      apt_repository:
        repo: "{{ item.repo }}"
        state: "{{ item.state }}"
      with_items:
        - { state: "absent", repo: "ppa:ansible/ansible" }

    - name: apt install
      apt:
        name: "{{ item.name }}"
        state: "{{ item.state }}"
      with_items:
        - { state: "absent", name: "ansible" }

    - name: pip install
      pip:
        name: "{{ item.name }}"
        state: "{{ item.state }}"
      with_items:
        - { state: "latest", name: "ansible" }
        - { state: "latest", name: "yamllint" }
        - { state: "latest", name: "ansible-lint" }
        - { state: "latest", name: "git+https://github.com/ansible/molecule.git#egg=molecule" }
