---

- hosts: all
  remote_user: root
  tasks:
    - name: apt-add-repository
      apt_repository:
        repo: "{{ item.repo }}"
        state: "{{ item.state }}"
      with_items:
        - { state: "present", repo: "ppa:ondrej/php" }

    - name: apt install
      apt:
        name: "{{ item.name }}"
        state: "{{ item.state }}"
      with_items:
        - { state: "latest", name: "php-apcu" }
        - { state: "latest", name: "php-apcu-bc" }
        - { state: "latest", name: "php-memcache" }
        - { state: "latest", name: "php-uuid" }
        - { state: "latest", name: "php5.6-bcmath" }
        - { state: "latest", name: "php5.6-cli" }
        - { state: "latest", name: "php5.6-curl" }
        - { state: "latest", name: "php5.6-gd" }
        - { state: "latest", name: "php5.6-imap" }
        - { state: "latest", name: "php5.6-intl" }
        - { state: "latest", name: "php5.6-json" }
        - { state: "latest", name: "php5.6-ldap" }
        - { state: "latest", name: "php5.6-mbstring" }
        - { state: "latest", name: "php5.6-mcrypt" }
        - { state: "latest", name: "php5.6-mysql" }
        - { state: "latest", name: "php5.6-opcache" }
        - { state: "latest", name: "php5.6-pgsql" }
        - { state: "latest", name: "php5.6-snmp" }
        - { state: "latest", name: "php5.6-soap" }
        - { state: "latest", name: "php5.6-sqlite3" }
        - { state: "latest", name: "php5.6-xml" }
        - { state: "latest", name: "php5.6-xmlrpc" }
        - { state: "latest", name: "php5.6-zip" }
        - { state: "latest", name: "php7.0-bcmath" }
        - { state: "latest", name: "php7.0-cli" }
        - { state: "latest", name: "php7.0-curl" }
        - { state: "latest", name: "php7.0-gd" }
        - { state: "latest", name: "php7.0-imap" }
        - { state: "latest", name: "php7.0-intl" }
        - { state: "latest", name: "php7.0-json" }
        - { state: "latest", name: "php7.0-ldap" }
        - { state: "latest", name: "php7.0-mbstring" }
        - { state: "latest", name: "php7.0-mcrypt" }
        - { state: "latest", name: "php7.0-mysql" }
        - { state: "latest", name: "php7.0-soap" }
        - { state: "latest", name: "php7.0-sqlite3" }
        - { state: "latest", name: "php7.0-xml" }
        - { state: "latest", name: "php7.0-xmlrpc" }
        - { state: "latest", name: "php7.0-zip" }
        - { state: "latest", name: "php7.1-bcmath" }
        - { state: "latest", name: "php7.1-cli" }
        - { state: "latest", name: "php7.1-curl" }
        - { state: "latest", name: "php7.1-fpm" }
        - { state: "latest", name: "php7.1-gd" }
        - { state: "latest", name: "php7.1-imap" }
        - { state: "latest", name: "php7.1-intl" }
        - { state: "latest", name: "php7.1-json" }
        - { state: "latest", name: "php7.1-ldap" }
        - { state: "latest", name: "php7.1-mbstring" }
        - { state: "latest", name: "php7.1-mcrypt" }
        - { state: "latest", name: "php7.1-mysql" }
        - { state: "latest", name: "php7.1-soap" }
        - { state: "latest", name: "php7.1-sqlite3" }
        - { state: "latest", name: "php7.1-xml" }
        - { state: "latest", name: "php7.1-xmlrpc" }
        - { state: "latest", name: "php7.1-zip" }

    - name: phpenmod
      php_module:
        name: "{{ item.name }}"
        state: "{{ item.state }}"
      with_items:
        - { state: "present", name: "apcu" }
        - { state: "present", name: "apcu_bc" }
        - { state: "present", name: "bcmath" }
        - { state: "present", name: "calendar" }
        - { state: "present", name: "ctype" }
        - { state: "present", name: "curl" }
        - { state: "present", name: "dom" }
        - { state: "present", name: "exif" }
        - { state: "present", name: "fileinfo" }
        - { state: "present", name: "ftp" }
        - { state: "present", name: "gd" }
        - { state: "present", name: "gettext" }
        - { state: "present", name: "iconv" }
        - { state: "present", name: "imap" }
        - { state: "present", name: "intl" }
        - { state: "present", name: "json" }
        - { state: "present", name: "ldap" }
        - { state: "present", name: "mbstring" }
        - { state: "present", name: "mcrypt" }
        - { state: "present", name: "memcache" }
        - { state: "present", name: "mysqli" }
        - { state: "present", name: "mysqlnd" }
        - { state: "present", name: "opcache" }
        - { state: "present", name: "pdo" }
        - { state: "present", name: "pdo_mysql" }
        - { state: "present", name: "phar" }
        - { state: "present", name: "posix" }
        - { state: "present", name: "readline" }
        - { state: "present", name: "shmop" }
        - { state: "present", name: "simplexml" }
        - { state: "present", name: "soap" }
        - { state: "present", name: "sockets" }
        - { state: "present", name: "sysvmsg" }
        - { state: "present", name: "sysvsem" }
        - { state: "present", name: "sysvshm" }
        - { state: "present", name: "tokenizer" }
        - { state: "present", name: "uuid" }
        - { state: "present", name: "wddx" }
        - { state: "present", name: "xml" }
        - { state: "present", name: "xmlreader" }
        - { state: "present", name: "xmlrpc" }
        - { state: "present", name: "xmlwriter" }
        - { state: "present", name: "xsl" }
        - { state: "present", name: "zip" }
